<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9 offset1">
      <h1>New Evidence</h1>  
      <%= nested_form_for @evidence do |f| %>
        <%= f.error_message_on 'title', prepend_text: 'Title ' %>
        <%= f.text_field :title, :placeholder => "What's my point..." %>
			<h4>Use Existing Sources </h4>
			<p>Hold Ctrl to select multiple</p>
			<%= f.collection_select :source_ids, @sources, :id, :title, {}, multiple: true %>
			<%= f.fields_for :sources, @evidence.sources.select{|src| src.new_record?} do |s| %>	
						<h4>New Source</h4>
								<%= s.error_message_on 'title', prepend_text: 'Title ' %>
									<%= s.text_field :title, :placeholder => "Title.." %>
									<div>	
								  <p>Authors</p>
								  <%= s.fields_for :authors, (s.object.authors.empty? ? [s.object.authors.build] : s.object.authors) do |authors| %>

									<%= authors.error_message_on 'first_name', prepend_text: 'First name ' %>
									<%= authors.text_field :first_name, :placeholder => "First Name.."%>

									<%= authors.error_message_on 'last_name', prepend_text: 'Last name ' %>
									<%= authors.text_field :last_name, :placeholder => "Last Name.."%>
								  <% end %>
								  <p><%= s.link_to_add 'Add an author', :authors%></p>
								</div>

								<%= s.text_field :citation_count, :placeholder => "Citation count.." %>
								<br />
								<%= s.text_area :description, :rows => 3, :placeholder => "Description.." %>
								<br />
								<%= s.text_field :journal, :placeholder => "Publication.." %>
								<%= s.text_field :year, :placeholder => "Publication year ie:1998" %>
								<br />
								<%= s.text_field :url, :placeholder => "Link..ie:tinyurl.com/nutinyhouse" %>
								<br />
								
				  <% end %>
				   <p><%= f.link_to_add 'Or Add a New Source', :sources %></p>

					
		        <br />
		
				<%= f.fields_for :points, @evidence.points do |builder| %>				 
					  
			  <p>Debates</p>
				<%= builder.collection_select :debate_id, @debates, :id, :title, {:selected => @debate.id} %>		
				
				<p></p>		
				 <%= builder.check_box :supporting, checked: @supporting  %> For Debate
				<% end %>  
			
	    </div>
	  </div>
	</div>	
	
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9 offset1">
		<%= hidden_field_tag :debate_id, @debate.id %>
		<%= f.submit "Submit", :class => 'btn' %>
      <% end %>
	  
    </div>
  </div>
</div>

