<div class="container-fluid">
  <div class="row-fluid">
  <div class="span1"></div><!--/span-->
    <div class="span9">

		<h1>For Source</h1>
				<legend>Facts are stubborn things; and whatever may be our wishes, our inclinations, or the dictates of our passions, they cannot alter the state of facts and evidence. 
				-John Adams</legend>
, :description, :journal, :title, :type, :url, :year
    <%= form_for @source do |f| %>
		<%= f.text_field :title, :placeholder => "Title.." %>
		  <span class="help-block">Ex: Title</span>
		<%= f.text_field :author, :placeholder => "Author 1.." %>
		  <span class="help-block">Ex: Title</span>
		  <%= f.text_field :author, :placeholder => "Author 2.." %>
		  <span class="help-block">Ex: Title</span>
		  <%= f.text_field :author, :placeholder => "Author 3.." %>
		  <span class="help-block">Ex: Title</span>
		  <%= f.text_field :citation, :placeholder => "Title.." %>
		  <span class="help-block">Ex: Title</span>
		  <%= f.text_field :title, :placeholder => "Title.." %>
		  <span class="help-block">Ex: Title</span>
		  <%= f.text_field :title, :placeholder => "Title.." %>
		  <span class="help-block">Ex: Title</span>
		  <%= f.text_field :title, :placeholder => "Title.." %>
		  <span class="help-block">Ex: Title</span>
		  <%= f.text_field :title, :placeholder => "Title.." %>
		  <span class="help-block">Ex: Title</span>
		  <%= f.text_field :title, :placeholder => "Title.." %>
		  <span class="help-block">Ex: Title</span>
		  
    <%= f.submit "Submit", :class => 'btn' %>
   

   <% end %>


    DIVIDER _______________________
		<form>
		  
		  <input type="text" placeholder="Title..">
		  <span class="help-block">Ex: Title</span>

      <input type="text" placeholder="Author(s)..">
			<span class="help-block">Ex: Title</span>

		    <input type="text" placeholder="Title..">
			<span class="help-block">Ex: Title</span>

		    <input type="text" placeholder="Title..">
			<span class="help-block">Ex: Title</span>

		    <input type="text" placeholder="Title..">
			<span class="help-block">Ex: Title</span>
		  
		  <span class="help-block">Ex: Title</span>
		    <input type="text" placeholder="Title..">
		  <span class="help-block">Ex: Title</span>
		  <button type="submit" class="btn">Submit</button>
		</form>
	</div>	
	</div>
	</div>
	
