<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9 offset1">
      <h1>Source</h1>
      <legend><%= @source.title %></legend>

      <div>
        <strong>Citation Count:</strong>
        <%= @source.citation_count %>
      </div>

      <div>
        <strong>Link:</strong>
        <%= @source.url %>
      </div>

      <div>
        <strong>Description:</strong>
        <%= @source.description %>
      </div>

      <div>
        <strong>Authors</strong>
        <ul>
          <% @source.authors.each  do |author|%>
            <li>
              <span><%= author.first_name%> <%= author.last_name%></span>
            </li>
          <% end %>
        </ul>
      <div>
    </div>
  </div>
</div>
