     <%= form_for @point do |f| %>
        <div class='row-fluid'>
          <div class='span6'>
            <%= f.label :point_debate_id, "Debate" %>
            <%= f.collection_select :debate_id, @debates, :id, :title %>
          </div>

          <div class='span6'>
            <%= f.label :point_evidence_id, "Point" %>
            <%= f.collection_select :evidence_id, @evidences, :id, :title %>
          </div>
        </div>


        <%= f.submit "Submit", :class => 'btn' %>
       <% end %>
