<div class="container-fluid">
  <div class="row-fluid">
  	<div class="span9 offset1">  
	      <h1>Create a Point to a Debate</h1>
			<%= form_for @point do |f| %>	     

					 <%= f.fields_for @evidence do |builder| %>
						<%= builder.error_message_on 'title', prepend_text: 'Title ' %>
						<%= builder.text_field :title, :placeholder => "Title.." %>
						<p>Sources</p>
						<%= builder.collection_select :source_ids, @sources, :id, :title, {}, multiple: true %>
						<br />
					<% end %>
				 <div>
				  <%= f.label :supporting, 'Supporting point?' %>
				  <%= f.check_box :supporting, checked: @supporting %>
				</div>
				<%= f.submit "Submit", :class => 'btn' %>
			<% end %>
	</div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
		<div class="span9 offset1">
		  <h1>Add a Point to a Debate</h1>
			   <%= form_for @point do |f| %>
			<div class='row-fluid'>
			  <div class='span6'>
				<%= f.label :point_debate_id, "Debate" %>
				<%= f.collection_select :debate_id, @debates, :id, :title %>
			  </div>

			  <div class='span6'>
				<%= f.label :point_evidence_id, "Point" %>
				<%= f.collection_select :evidence_id, @evidences, :id, :title %>
			  </div>
			</div>
			 <div>
			  <%= f.label :supporting, 'Supporting point?' %>
			  <%= f.check_box :supporting, checked: @supporting %>
			</div>

			<%= f.submit "Submit", :class => 'btn' %>
		   <% end %>

		</div>
	</div>
</div>