<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9 offset1">
      <h1>New Debate</h1>
      <%= form_for @debates_point do |f| %>
        <%= f.collection_select :debate_id, @debates, :id, :title %>
        <%= f.collection_select :point_id, @points, :id, :title %>
        <%= f.label :supporting, 'Supporting point?' %>
        <%= f.check_box :supporting, checked: @supporting %>
        <%= f.submit "Submit", :class => 'btn' %>
       <% end %>
    </div>
  </div>
</div>
